<!-- Top banner of the page. -->
<div class="banner">
   <h1 class="display-4">Education</h1>
</div>

<!-- Link that will take you to Auburn university website. -->
<a target="_blank" class="auburnUniversity-link" href="http://www.auburn.edu/">
   <img [src] = 'auburnLogo' alt="Auburn University Logo"
        class="auburnLogo" />
</a>

<a target="_blank" href="http://www.coastalalabama.edu/">
   <img [src]="ccLogo" alt="coastal alabama community college logo" class="cc-logo" />
</a>

<!-- All my social media links which include facebook, instagram, linkedIn, googlePlus, and Github. -->
<div class="social-mediaBox">
    <div class="link">
         <a class="facebook-link" target="_blank" href="https://www.facebook.com/drew.waller.73">
            <i class="fab fa-facebook"></i>
         </a>
      </div>
      <div class="link">
         <a class="instagram-link" target="_blank" href="https://www.instagram.com/dwaller_45/">
            <i class="fab fa-instagram"></i>
         </a>
      </div>
      <div class="link">
         <a class="linkedIn-link" target="_blank" href="https://www.linkedin.com/in/drew-waller-100371192/">
            <i class="fab fa-linkedin"></i>
         </a>
      </div>
      <div class="link">
         <a class="googlePlus-link" target="_blank" href="https://aboutme.google.com/?hl=en">
            <i class="fab fa-google-plus"></i>
         </a>
      </div>
      <div class="link">
         <a class="github-link" target="_blank" href="https://github.com/dgw0015">
            <i class="fab fa-github"></i>
         </a>
      </div>
   </div>

<!-- Used as a hr, but since <hr> cannot have a border: linear-gradient I just made a small div. -->
<div class="bottom-border"></div>

<img [src]="stadium" alt="auburn university football stadium" class="stadium" />

<!-- Page content container. -->
<div class="educationBox">

   <!-- Content. -->
   <div class="education-content">

      <div class="cc-college">
         <h1 class="display-3">Coastal Alabama Community College</h1>
         <p class="lead">Bay Minette, Alabama</p>
         <p class="lead">Transferred to Auburn University after 2 years.</p>
         <p class="lead">GPA: 3.7</p>
      </div>
      <div class="AU">
         <h1 class="display-3">Auburn University</h1>
         <p class="lead">Auburn, Alabama</p>
         <p class="lead">Class of 2020</p>
         <p class="lead">Bachelors Degree: Computer Science/Computer Engineering</p>
         <p class="lead">Auburn GPA: 3.0</p>
         <p class="lead">Overall GPA: 3.35</p>
      </div>
   </div>


</div>
