<img [src] = 'pageBg' alt="Tablet Background Image" class="education-bg"
     [style.width.%] = 100
     [style.height.%] = 100 />


<h3>Education</h3>

<div class="educationBox">

   <div class="high-school">
      <h4>Columbia High School</h4>
      <p>Lake City, Florida</p>
      <p>Class of 2011</p>
      <p>GPA: 3.7</p>
   </div>
   <div class="cc-college">
      <h4>Coastal Alabama Community College</h4>
      <p>Bay Minette, Alabama</p>
      <p>Transferred to Auburn University after 2 years.</p>
      <p>GPA: 3.7</p>
   </div>
   <div class="AU">
      <h4>Auburn University</h4>
      <img [src] = 'auburnLogo' alt="Auburn University Logo" class="auburnLogo"
           [style.width.vw] = 3
           [style.height.vw] = 3 />
      <p>Auburn, Alabama</p>
      <p>Class of 2020</p>
      <p>Bachelors Degree: Computer Science</p>
      <P>Minor: Business</P>
      <p>Current GPA: 3.0</p>
   </div>

</div>
