<div class="header-block">
  <a class="resume-link" href="./assets/Drew G Waller 2019 Resume.pdf" download>
     <i class="fa fa-file-pdf-o"></i> Download My Resume</a>
</div>

<div class="about-bg">
   <img [src]= "loveWhatYouDo" alt="Love what you do"
        [style.width.%] = 100
        [style.height.%] = 100 />
</div>

<div class="flip-tile1">
   <div class="tile-state">
      <div class="front">
         <h3>{{loveWhatYouDoText}}</h3>
      </div>
      <div class="back">
         <p class="backside-tile1-content">back of tile one content</p>
      </div>
   </div>
</div>

<div class="flip-tile2">
   <div class="tile-state">
      <div class="front">
         <h3>{{educationText}}</h3>
      </div>
      <div class="back">
         <p class="backside-tile2-content">back of tile two</p>
      </div>
   </div>
</div>

<div class="flip-tile3">
   <div class="tile-state">
      <div class="front">
         <h3>{{experienceText}}</h3>
      </div>
      <div class="back">
         <p class="backside-tile3-content">back of tile three</p>
      </div>
   </div>
</div>

<div class="flip-tile4">
   <div class="tile-state">
      <div class="front">
         <h3>{{skillsText}}</h3>
      </div>
      <div class="back">
         <p class="backside-tile4-content">back of tile four</p>
      </div>
   </div>
</div>
