


<div class="aboutPage-bg">
   <img [src] = 'aboutBg' alt="About Page background" class="aboutPage-bg"
        [style.height.%] = 100
        [style.width.%] = 100 />
</div>

<div class="aboutMe-txtBox">

   <!-- creates circular portrait image -->
   <img [src] ='selfPortrait' alt="Portrait image of Drew" class="head-shot"
        [style.width.vw] = 'selfImgWidth'
        [style.height.vw] = selfImgHeight />

   <h1>Hi, Welcome to My Website</h1>
   <hr>

   <div class="story-body">
      <h4>My Story</h4>
      <p>{{myStory}}</p>
   </div>
</div>
