

.header-block  {
   width: 100%;
   background-color: transparent;
}


.resume-link i  {
  color: #d70000;
  margin: 5px 6px 0 3px;
  font-size: 30px;
}

.resume-link  {
  position: fixed;
  top: 6px;
  right: 20px;
  margin: 0 4px 0 3px;
  font-family: "Century Gothic", serif;
  font-size: 1.05vw;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.resume-link:hover {
  color: rgba(0, 252, 255, 0.8);
}
