<img [src] = 'google' alt="Computer with google logo displayed on screen" class="experience-bg"/>
<div class="overlay"></div>

<a class="resume-link" [href]="resumeDownloadLink" download>
   <i class="far fa-file-pdf" id="pdf-icon"></i> Download My Resume
</a>

<!-- All my social media links which include facebook, instagram, linkedIn, googlePlus, and Github. -->
<div class="social-mediaBox">
   <div class="link">
      <a class="facebook-link" target="_blank" href="https://www.facebook.com/drew.waller.73">
         <i class="fab fa-facebook"></i>
      </a>
   </div>
   <div class="link">
      <a class="instagram-link" target="_blank" href="https://www.instagram.com/dwaller_45/">
         <i class="fab fa-instagram"></i>
      </a>
   </div>
   <div class="link">
      <a class="linkedIn-link" target="_blank" href="https://www.linkedin.com/in/drew-waller-100371192/">
         <i class="fab fa-linkedin"></i>
      </a>
   </div>
   <div class="link">
      <a class="googlePlus-link" target="_blank" href="https://aboutme.google.com/?hl=en">
         <i class="fab fa-google-plus"></i>
      </a>
   </div>
   <div class="link">
      <a class="github-link" target="_blank" href="https://github.com/dgw0015">
         <i class="fab fa-github"></i>
      </a>
   </div>
</div>


<h1 class="display-1">Experience</h1>

<div class="flip-box">
   <div class="flip-box-inner" id="box1">
      <div class="flip-box-front">
         <h1 class="display-3">Winn-Dixie</h1>
         <p class="lead">2009-2012</p>
         <i class="fas fa-arrow-right" id="front-flipArrow" (click)="flipCard('box1')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.5vw; color: white;">{{winnDixieExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow" (click)="flipCardBack('box1')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box2">
      <div class="flip-box-front">
         <h1 class="display-3">Timco Aviation</h1>
         <p class="lead">2011-2012</p>
         <i class="fas fa-arrow-right" id="front-flipArrow2" (click)="flipCard('box2')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.5vw; color: white;">{{aviationExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow2" (click)="flipCardBack('box2')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box3">
      <div class="flip-box-front">
         <h1 class="display-3">Columbia Bank</h1>
         <p class="lead">2012-2014</p>
         <i class="fas fa-arrow-right" id="front-flipArrow3" (click)="flipCard('box3')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.35vw; color: white;">{{columbiaBankExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow3" (click)="flipCardBack('box3')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box4">
      <div class="flip-box-front">
         <h1 class="display-3">Pen Air Federal Credit Union</h1>
         <p class="lead">2014-2016</p>
         <i class="fas fa-arrow-right" id="front-flipArrow4" (click)="flipCard('box4')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.5vw; color: white;">{{moveToAl_penAirExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow4" (click)="flipCardBack('box4')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box5">
      <div class="flip-box-front">
         <h1 class="display-3">Coca-Cola Bottling Consolidated</h1>
         <p class="lead">2016-2017</p>
         <i class="fas fa-arrow-right" id="front-flipArrow5" (click)="flipCard('box5')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.35vw; color: white;">{{cokeExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow5" (click)="flipCardBack('box5')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box6">
      <div class="flip-box-front">
         <h1 class="display-3">The Auburn Hotel</h1>
         <p class="lead">2017-2019</p>
         <i class="fas fa-arrow-right" id="front-flipArrow6" (click)="flipCard('box6')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.35vw; color: white;">{{hotelAtAUExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow6" (click)="flipCardBack('box6')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box7">
      <div class="flip-box-front">
         <h1 class="display-3">Personal Trainer at Maxx Fitness</h1>
         <p class="lead">2018</p>
         <i class="fas fa-arrow-right" id="front-flipArrow7" (click)="flipCard('box7')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.35vw; color: white">{{auburnPersonalTrainerExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow7" (click)="flipCardBack('box7')"></i>
      </div>
   </div>
</div>
<br>
<br>
<div class="flip-box">
   <div class="flip-box-inner" id="box8">
      <div class="flip-box-front">
         <h1 class="display-3">J.B. Hunt Transportation</h1>
         <p class="lead">Summer 2019</p>
         <i class="fas fa-arrow-right" id="front-flipArrow8" (click)="flipCard('box8')"></i>
      </div>
      <div class="flip-box-back">
         <p class="lead" style="font-size: 1.3vw; color: white;">{{internshipExp}}</p>
         <i class="fas fa-arrow-left" id="back-flipArrow8" (click)="flipCardBack('box8')"></i>
      </div>
   </div>
</div>
