
.head-shot  {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   border: 2px solid rgba(3, 3, 3, 0.68);
}

.nav-links  {
   position: absolute;
   top: 0;
   left: 26.5%;
   background: transparent;
   width: 47%;
   height: 50px;
   font-family: "Century Gothic", sans-serif;
   font-size: 1.4vw;
}

.nav-links a  {
   text-decoration: none;
}

a  {
   float: left;
   text-align: center;
   padding: 9px 1vw 0 1vw;
   color: white;
}

a:hover   {
   cursor: pointer;
   font-size: 1.45vw;
   color: darkred;
}

#active  {
   color: greenyellow;
   text-decoration: underline;
}

@media only screen and(max-width: 1400px) {

   .nav-links {
      position: absolute;
      top: 0;
      left: 25%;
      background: transparent;
      width: 50%;
      height: 50px;
      font-family: "Century Gothic", sans-serif;
      font-size: 1.6vw;
   }

   a:hover  {
      font-size: 1.65vw;
   }

}
