<img [src]="contact_bg" alt="laptop with some purple on the screen for a screensaver." class="contact-bg" />
<div *ngIf="getScreenWidth() > 1100" class="computer-container">
   <h1 class="display-1">Contact Me</h1>

   <!--Box div that is used to place the image in and center it. -->
   <div class="contactMe-box">

      <a class="emailMe" href="mailto:drewwaller67@gmail.com&subject=Contact from Website">
         <button type="button" class="btn btn-outline-primary btn-lg btn-block">Click here to contact me by email.</button>
      </a>

      <div class="contactMe-text">
         <p class="lead">You can also contact me through any of my social media links.</p>
      </div>
      <div class="social-mediaBox">
         <div class="link">
            <a class="facebook-link" target="_blank"
               href="https://www.facebook.com/drew.waller.73">
               <i class="fab fa-facebook"></i>
            </a>
         </div>
         <div class="link">
            <a class="instagram-link" target="_blank"
               href="https://www.instagram.com/dwaller_45/">
               <i class="fab fa-instagram"></i>
            </a>
         </div>
         <div class="link">
            <a class="linkedIn-link" target="_blank"
               href="https://www.linkedin.com/in/drew-waller-100371192/">
               <i class="fab fa-linkedin"></i>
            </a>
         </div>
         <div class="link">
            <a class="googlePlus-link" target="_blank"
               href="https://aboutme.google.com/?hl=en">
               <i class="fab fa-google-plus"></i>
            </a>
         </div>
         <div class="link">
            <a class="github-link" target="_blank"
               href="https://github.com/dgw0015">
               <i class="fab fa-github"></i>
            </a>
         </div>
      </div>
   </div>
</div>

<!-- HTML for cell phones and tablet devices.-->
<div *ngIf="getScreenWidth() <= 1100" class="mobileContainer">

   <h1 class="display-2">Contact Me</h1>

   <a class="email" href="mailto:drewwaller67@gmail.com&subject=Contact from Website">
      <button type="button" class="btn btn-primary btn-lg btn-block">Click here to contact me by email.</button>
   </a>
   <div class="contact-text">
      <p class="lead">You can also contact me through any of my social media links below.</p>
   </div>

   <div class="links">
      <a class="facebook-link" target="_blank" href="https://www.facebook.com/drew.waller.73">
         <i class="fab fa-facebook"></i>
      </a>
      <a class="instagram-link" target="_blank" href="https://www.instagram.com/dwaller_45/">
         <i class="fab fa-instagram"></i>
      </a>
      <a class="linkedIn-link" target="_blank" href="https://www.linkedin.com/in/drew-waller-100371192/">
         <i class="fab fa-linkedin"></i>
      </a>
      <a class="googlePlus-link" target="_blank"
         href="https://aboutme.google.com/?hl=en">
         <i class="fab fa-google-plus"></i>
      </a>
      <a class="github-link" target="_blank" href="https://github.com/dgw0015">
         <i class="fab fa-github"></i>
      </a>
   </div>

</div>
