<img [src] = 'contact_bg' alt="Tablet Background Image" class="contact-bg"
     [style.width.%] = 100
     [style.height.%] = 100 />

<div class="pageContent-overlay">

   <h3>Contact Me</h3>
   <form #form="ngForm">

      <div class="inputBox">
         <label for="name">Name</label><br>
         <input id="name" name="name" [(ngModel)]="defaultContactInfo.name"/><br>

         <label for="phoneNumber">Phone</label><br>
         <input id="phoneNumber" name="phoneNumber" [(ngModel)]="defaultContactInfo.phoneNumber"/><br>

         <label for="email">Email</label><br>
         <input id="email" name="email" [(ngModel)]="defaultContactInfo.email"/><br>

         <label for="contact-method">Preferred Method of Communication</label><br>
         <select id="contact-method" name="contact" [(ngModel)]="defaultContactInfo.prefContactMethod">
            <option value="opt">Email</option>
            <option value="opt">Phone Call</option>
            <option value="opt">Text</option>
            <option value="opt">Any of These</option>
         </select>
         <br><br>

         <label for="subject">Subject</label><br>
         <textarea id="subject" name="subject"  [(ngModel)]="defaultContactInfo.message"></textarea><br>
         <input type="submit" value="Submit" id="submit-btn">
      </div>

      <div class="myInfo-right">
         <h4>My Information</h4>
         <div class="contactInfo">
            <p>drewwaller67@gmail.com</p>
            <p>dgw0015@auburn.edu</p>
         </div>
         <div class="social-mediaBox">
            <div class="link">
               <a class="facebook-link" target="_blank" href="https://www.facebook.com/drew.waller.72">
                  <i class="fa fa-facebook"></i>
               </a>
            </div>
            <div class="link">
               <a class="instagram-link" target="_blank" href="https://www.instagram.com/dwaller_44/">
                  <i class="fa fa-instagram"></i>
               </a>
            </div>
            <div class="link">
               <a class="linkedIn-link" target="_blank" href="https://www.linkedin.com/in/drew-waller-100371193/">
                  <i class="fa fa-linkedin"></i>
               </a>
            </div>
            <div class="link">
               <a class="googlePlus-link" target="_blank" href="https://aboutme.google.com/?hl=en">
                  <i class="fa fa-google-plus"></i>
               </a>
            </div>
         </div>

      </div>

   </form>


</div>
