<img [src] = 'skills_bg' alt="Tablet Background Image" class="skills-bg"
     [style.width.%] = 100
     [style.height.%] = 100 />

<img [src] = 'skills_bg2' alt="Tablet Background Image" class="skills-bg2"
     [style.width.%] = 100
     [style.height.%] = 100 />

<img [src] = 'skills_bg3' alt="Tablet Background Image" class="skills-bg3"
     [style.width.%] = 100
     [style.height.%] = 100 />



<!-- The start of the skill bars. -->

<div class="skillsBox">

   <h4>Languages & Frameworks</h4>
   <h3 class="pg-heading">Skills</h3>

   <p>Java</p>
   <div class="container">
      <div class="skills java">95%</div>
   </div>
   <p>Python</p>
   <div class="container">
      <div class="skills python">85%</div>
   </div>
   <p>C++</p>
   <div class="container">
      <div class="skills cpp">85%</div>
   </div>
   <p>C#</p>
   <div class="container">
      <div class="skills cSharpe">90%</div>
   </div>
   <p>Angular</p>
   <div class="container">
      <div class="skills angular">90%</div>
   </div>
   <p>React</p>
   <div class="container">
      <div class="skills react">95%</div>
   </div>
   <p>Javascript</p>
   <div class="container">
      <div class="skills javascript">90%</div>
   </div>
   <p>Typescript</p>
   <div class="container">
      <div class="skills typescript">90%</div>
   </div>
   <p>HTML</p>
   <div class="container">
      <div class="skills html">95%</div>
   </div>
   <p>CSS, SCSS, SASS</p>
   <div class="container">
      <div class="skills styleSheets">95%</div>
   </div>
   <p>XML</p>
   <div class="container">
      <div class="skills xml">80%</div>
   </div>

   <h4 class="otherSkills">Additional Skills</h4>

   <p>Docker</p>
   <div class="container">
      <div class="skills docker">70%</div>
   </div>
   <p>Kubernetes</p>
   <div class="container">
      <div class="skills kubernetes">60%</div>
   </div>
   <p>Minikube</p>
   <div class="container">
      <div class="skills minikube">60%</div>
   </div>
   <p>Database Systems</p>
   <div class="container">
      <div class="skills database">85%</div>
   </div>
   <p>Swagger API Documentation</p>
   <div class="container">
      <div class="skills swagger">90%</div>
   </div>
   <p>UI/UX Design</p>
   <div class="container">
      <div class="skills UX">80%</div>
   </div>
   <p>Windows PowerShell</p>
   <div class="container">
      <div class="skills powerShell">70%</div>
   </div>
   <p>Linux Shell</p>
   <div class="container">
      <div class="skills linux">75%</div>
   </div>

</div>

<div class="quote">
   <p>Insert the quote here.</p>
</div>