<div class="overlay"></div>
<img [src] = 'skills_bg' alt="Tablet Background Image" class="cnn"/>

<h1 class="display-1">Skills</h1>

<!-- The start of the skill bars. -->

<div class="skillsBox">

   <blockquote class="blockquote">Languages & Frameworks</blockquote>
   <hr>

   <p class="lead">Java</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 95%" aria-valuenow="95"
           aria-valuemin="0" aria-valuemax="100"><b>95%</b></div>
   </div>
   <p class="lead">Python</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 90%" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">C++</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
           style="width: 90%" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">C#</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        style="width: 90%" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">Angular</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
           style="width: 90%" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">React</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
           style="width: 95%" aria-valuenow="95"
           aria-valuemin="0" aria-valuemax="100"><b>95%</b></div>
   </div>
   <p class="lead">Javascript</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
           style="width: 90%" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">Typescript</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
           style="width: 90%" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">HTML</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
           style="width: 95%;" aria-valuenow="95"
           aria-valuemin="0" aria-valuemax="100"><b>95%</b></div>
   </div>
   <p class="lead">CSS, SCSS, SASS</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
           style="width: 95%;" aria-valuenow="95"
           aria-valuemin="0" aria-valuemax="100"><b>95%</b></div>
   </div>
   <p class="lead">Docker</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
           style="width: 70%;" aria-valuenow="70"
           aria-valuemin="0" aria-valuemax="100"><b>70 %</b></div>
   </div>
   <p class="lead">SQL</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
           style="width: 90%;" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">API Development</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar"
           style="width: 90%;" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">Mobile Development</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar"
           style="width: 90%;" aria-valuenow="90"
           aria-valuemin="0" aria-valuemax="100"><b>90%</b></div>
   </div>
   <p class="lead">Windows PowerShell/OS</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar"
           style="width: 75%;" aria-valuenow="75"
           aria-valuemin="0" aria-valuemax="100"><b>75%</b></div>
   </div>
   <p class="lead">Linux Operating System</p>
   <div class="progress">
      <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar"
           style="width: 85%;" aria-valuenow="85"
           aria-valuemin="0" aria-valuemax="100"><b>85%</b></div>
   </div>

</div>
