/* Styles the background image on the welcome component page. */

.bg-img {
  height: 100%;
}

.description-box  {
  width: 50%;
  height: 10.5vw;
  position: absolute;
  bottom: 1%;
  left: 60%;
  transform: translate(-50%, -30%);
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.42);
  color: white;
  border-radius: 20px;
  }

.description-box .welcome-msg-header {
  margin: 0 12px 2vw 10px;
  font-family: "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bold;
}

.description-box p {
  line-height: 140%;
  font-family: Arial, serif;
  margin: 10px 12px 5px 4vw;
  font-size: 1.05vw;
  color: white;
}
