/* Styles the background image on the welcome component page. */

.bg-img {
  height: 100%;
}

.head-shot  {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat;
  border-radius: 50%;
}

#welcome-text {
  font-family: "Century Gothic", serif;
  font-size: 2.85vw;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.90);
}

#sub-text {
  font-family: "Century Gothic", serif;
  font-size: 1.5vw;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.90);
}

.description-box  {
  width: 75%;
  height: 9vw;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  border-radius: 15px;
  }

.description-box .welcome-msg-header {
  margin: 0 10px 12px 10px;
  font-family: "Times New Roman", serif;
  font-size: 2vw;
  font-weight: bold;
}

.description-box p {
  line-height: 140%;
  font-family: Arial, serif;
  margin: 0 12px 10px 4vw;
  font-size: 1vw;
  color: white;
}
