<div class="home-bg">
   <img [src] = 'mountains' alt="Tablet Background Image" />
</div>

<div class="center-txtBox">
   <h1 id="welcome-text">{{myName}}</h1>
   <hr>
   <p id="sub-text">{{subText}}</p>
</div>

   <div class="social-mediaBox">

      <div class="link">
         <a class="facebook-link" target="_blank" href="https://www.facebook.com/drew.waller.73">
            <i class="fab fa-facebook"></i>
         </a>
      </div>
      <div class="link">
         <a class="instagram-link" target="_blank" href="https://www.instagram.com/dwaller_45/">
            <i class="fab fa-instagram"></i>
         </a>
      </div>
      <div class="link">
         <a class="linkedIn-link" target="_blank" href="https://www.linkedin.com/in/drew-waller-100371192/">
            <i class="fab fa-linkedin"></i>
         </a>
      </div>
      <div class="link">
         <a class="googlePlus-link" target="_blank" href="https://aboutme.google.com/?hl=en">
            <i class="fab fa-google-plus"></i>
         </a>
      </div>
      <div class="link">
         <a class="github-link" target="_blank" href="https://github.com/dgw0015">
            <i class="fab fa-github"></i>
         </a>
      </div>
   </div>
