/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import "~font-awesome/scss/mixins";

body, html  {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right, #003339 62%, #795d4e);
}
